{% extends 'base.html' %}

{% block title%}New Post{% endblock %}

{% block content %}
    <h6>New Blog</h6>

    <form method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Add Title here...">
        </div>
        <div class="mb-3">
          <label for="body" class="form-label">Body</label>
          <textarea class="form-control" id="body" rows="3" name="body" placeholder="Start your blog here..."></textarea>
        </div>
        <button type="submit" class="btn btn-primary">New Blog</button>
    </form>

{% endblock %}