{% extends 'base.html' %}

{% block title%}Index{% endblock %}

{% block content %}
    {% if g.user %}
        <a href="{{ url_for('blog.create') }}">New Blog</a> <br> <br>
    {% endif %}

    {% for post in posts %}
        <h6>{{ post['title'] }}</h6>       
        <p style="font-size: small;">{{ post['author'] }} {{ post['pub_date'].strftime("%Y-%m-%d %H:%M:%S") }}</p>
        
        {% if g.user['id'] == post['user_id'] %}
            <a style="font-size: small;" href="{{ url_for('blog.update', id=post['id']) }}">Edit</a>
            <a style="font-size: small;" href="{{ url_for('blog.delete', id=post['id']) }}">Delete</a>
        {% endif %}
        
        <p style="white-space:pre-wrap">{{ post['body'] }}</p>
        
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
{% endblock %}